.DS_Store
.env
.flaskenv
*.pyc
*.pyo
env
env*
!kiwi-mobile-frontend/src/**
dist
*.egg
*.egg-info
_mailinglist
.tox
.cache/
.idea/
.vscode/
*/venv/
/**/*.pyc
# Coverage reports
htmlcov
.coverage
.coverage.*
*,cover
Pipfile
Pipfile.lock
**/.pytest_cache/
kiwi-tester-service/*.pdf
kiwi-tester-service/*.txt
kiwi-mobile-frontend/www/**