@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
* {
    font-family: "Open Sans";
}

body {
    background-color: #efefef;
    margin: 0;
}

html,
body,
.ng-scope {
    height: 100%;
}

#ng-scope {
    min-height: 100%;
}

div[ng-view] {
    height: 100%;
}