<div class="login">
    <div class="logo">
        <img src="assets/images/upic.svg" />
    </div>
    <div class="login-form">
        <div class="login-inner">
            <div class="username-wrapper">
                <label for="username">Username</label>
                <input type="text" class="username-input" name="username" id="username" [(ngModel)]="username" />
            </div>
            <div class="login-buttons">
                <button class="login-button register" (click)="onRegister()">Register</button>
                <button class="login-button login" (click)="onLogin()">Login</button>
            </div>
        </div>
    </div>
    <div class="login-loading" *ngIf="this.isLoading()">
        <img src="assets/animations/loading_80.svg" />
    </div>
</div>