<div class="imagebrowser">
    <div *ngFor="let image of images.slice().reverse()" [class.imagewrapper]="true" [class.animateup]="image?.animateUp" [class.animatedown]="image?.animateDown" [class.firstElement]="images.length > 0 && image === images[0]">
        <div class="image_title">{{image.title}}</div>
        <div class="image_img"><img src="{{image.src}}" /></div>
        <div class="placeholder"></div>
    </div>
    <div class="no_images" *ngIf="images.length <= 0">
        <img src="assets/animations/loading_80.svg" />
    </div>
    <div class="buttonwrapper" [class.inactive]="images.length <= 0">
        <div class="buttonwrapper_inner">
            <button class="dislike" (click)="onDislike()">
          <img src="assets/images/downvote.svg" />
      </button>
            <button class="like" (click)="onLike()">
          <img src="assets/images/upvote.svg" />
      </button>
        </div>
    </div>
</div>