/* You can add global styles to this file, and also import other style files */

body,
html {
    min-height: 100%;
    height: 100%;
    margin: 0;
}

* {
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}